<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="{{ .Site.BaseURL }}#page-top">
              <h1>
                {{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}
              </h1>
              <h2>
                {{ with .Site.Params.navigation.subtitle }}{{ . }}{{ end }}
              </h2>
            </a>

            <div class="about">
              <h1>+</h1>
            </div>
        </div>
    </div>
</nav>
